.navbar{
    margin-top: 20px;
    border: 1px solid #2e3133;
    border-radius: 10px;
    margin-bottom: 40px;
    height: 90px;
    background-image: linear-gradient(60deg, #9fcdff, #b8daff);
}
.mb-5{

    font-family: "Days";
    font-size: 3em;
    font-weight: bold;
}

@media screen and (min-width: 200px) and (max-width: 640px){
    .navbar{
        height: 110px;
        padding-left: 50px;
    }
    
}